@import "primeicons/primeicons.css";

:root {
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  color: #1d2939;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #f7f9fc 0%, #edf2f7 100%);
}
